{% extends 'base.html' %}

{% block content %}

{% if question %}
   <h3>Question: {{question }}</h3>
   <br/>
{% endif %}

<div class="card">
    <div class="card-header">
      ChatGPT Response
    </div>
    <div class="card-body">
        {% if response %}
        {{ past_responses|safe }}
        {% endif %}
        <br/><br/>
    </div>
  </div>

  <br/><br/>

{% if past_responses %}

<form method="post" action="{% url 'home' %}">
    {% csrf_token %}
    <div class="mb-3">
        <input type="hidden" name="past_responses" value="{{ past_responses }}">
      </div>
      <div class="mb-3">
      <input type="text" name="question" class="form-control" placeholder="Ask ChatGPT a question">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>  

{% else %}

  <form method="post" action="{% url 'home' %}">
    {% csrf_token %}
    <div class="mb-3">
        <input type="hidden" name="past_responses" value="johnmccartney">
      </div>
    <div class="mb-3">
      <input type="text" name="question" class="form-control" placeholder="Ask ChatGPT a question">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>  

{% endif %}  

{% endblock %}